body {
    background-color: #000 !important;
}
.bg-arbol {
    background: url(/static/general/img/prueba3.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.navbar-portada {
    background: #fff;
    border-radius: 0px !important;
    margin-bottom: 0px !important
}
.navbar-portada .navbar-brand {
    padding: 2px 15px;
}
.navbar-portada .navbar-brand img {
    width: 100%;
}
.navbar-portada li>a {
    color: #fff
}
.barras {
    margin-top: 30px;
}
.enlace {
    width: 250px;
    display: block;
    background: silver;
    height: 60px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.enlace p {
    text-align: center;
    font-size: 16px;
    color: #000;
    width: 170px;
    display: inline-block;
    height: 60px;
}
.enlace .fa {
    text-align: center;
    font-size: 28px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #fff;
    color: #008040;
    padding-top: 10px;
}
.en-de {
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
}
.en-iz {
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
}
.right,
.left {
    display: inline-block;
}
.verde {
    background: rgba(34, 51, 43, 0.75);
}
.verde .texto {
    color: #fff;
    height: 165px;
}
.verde .texto h6 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.verde .texto p {
    font-size: 13px;
}
.verde .texto p a {
    color: #fff;
    font-weight: bold;
}
footer {
    background: #fff;
}
footer .link-simas {
    color: #000;
    margin-top: 10px;
}
footer .link-simas a {
    color: #000;
    font-weight: bold;
}
.img-container {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #fff;
    padding-top: 10px;
}
.familia,
.clima {
    width: 35px;
}
.mujer {
    width: 25px;
}
.space {
    padding-top: 15px;
}
