<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="Nqv5ejOOaCpct1XzJ10eOzVHz0dbN0rv4M6i-hmNQec" />

    <title>Solidaridad</title>
    <link rel="shortcut icon" href="/static/general/img/logo.jpg" />

    <link rel="stylesheet" href="/static/general/css/animate.min.css">
    <link rel="stylesheet" href="/static/general/css/stylegeneral.css">
    <link rel="stylesheet" href="/static/general/css/hover.css">
    <link href="/static/general/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- font-awesome -->
</head>
<body>
<style type="text/css">
    .link-simas{
        color: white;
        font-weight: bold;
        padding-top: 25px;
    }
    .link-simas a{
        color: white;
        text-decoration: none;
    }
</style>



        <div class="container-fluid">
            <div class="row">
                {% block contenido %}{% endblock contenido %}
            </div>
        </div>
    <br>
    <footer>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="/static/general/img/site-logo.jpg" alt="Site Logo" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="link-simas">
                &copy; 2015 Elaborado y con soporte de <a href="http://simas.org.ni/portafolio/sistemas" target="_blank">SIMAS</a> con el Framework <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
            </p>
        </div>
    </div>


    </footer>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
