<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="Nqv5ejOOaCpct1XzJ10eOzVHz0dbN0rv4M6i-hmNQec" />

    <title>Solidaridad</title>
    <link rel="shortcut icon" href="/static/general/img/favicon.ico" />
    <link rel="stylesheet" href="/static/general/css/indexprincipal.css">
    <link href="/static/general/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/general/css/hover.css">
    <!-- font-awesome -->
</head>
<body>

    <nav class="navbar navbar-portada" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/static/general/img/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a class="fa fa-cog fa-2x" href="#"></a></li>

                </ul> -->
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="container-fluid bg-arbol">
        <div class="row barras">
            <div class="left">
                <a href="/herramienta/" class="enlace en-de" id="cacao">
                    <p>Herramienta <br> de decisión</p>
                    <span class="fa fa-book pull-right hvr-grow"></span>
                </a>
                <a href="/"  class="enlace en-de" id="herramientas">
                    <p class="space">Herramientas</p>
                    <div class="img-container pull-right hvr-grow">
                        <img class="familia center-block" src="/static/general/img/Herramientas.png" alt="">
                    </div>
                </a>
                <a href="/admin" class="enlace en-de" id="admin">
                    <p class="space">Administración</p>
                    <span class="fa fa-pencil pull-right hvr-grow"></span>
                </a>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row verde">
            <div class="container">
                <div class="texto">
                    <h6>Solidaridad</h6>
                    <p>
                        Solidaridad is an international network organization with partners all over the world. There is one agenda and one strategy: together we learn and progress, together we achieve results and together we decide on future steps.
                    </p>
                    <p>
                        The premise of the structure is that it promotes capacity building: strengthening Solidaridad teams in the region, enabling them to take control of supervisory tasks and to manage programming themselves. The regional Solidaridad teams cooperate with their own partners on the planning, implementation, communication and evaluation of programmes, and on reporting their results.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <footer class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <p class="link-simas">
                    &copy; 2018 Elaborado con el Framework <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
                </p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



    {% block extra_js %}{% endblock extra_js %}
    <script type="text/javascript">
        // var txt = $(window).height();
        // document.body.style.height = txt + "px";
        $('#cacao').mouseover(function() {
          $('.texto').html('<h6>Heramienta de desición</h6><p>herramientas para mejorar las tomas de decisión en los cultivos de cacao.</p>');
        });
        $('#herramientas').mouseover(function() {
          $('.texto').html('<h6>Herramientas</h6><p>Las herramientas para mejorar las tomas de decisión en los cultivos de cacao, café y granos básicos.</p>');
        });
        $('#admin').mouseover(function() {
          $('.texto').html('<h6>La administracion</h6><p>Introducir los datos de las encuestas para almacenarlos</p>');
        });
        $('#cacao, #admin, #herramientas').mouseout(function() {
          $('.texto').html('<h6>Solidaridad</h6><p>Solidaridad is an international network organization with partners all over the world. There is one agenda and one strategy: together we learn and progress, together we achieve results and together we decide on future steps.</p><p>The premise of the structure is that it promotes capacity building: strengthening Solidaridad teams in the region, enabling them to take control of supervisory tasks and to manage programming themselves. The regional Solidaridad teams cooperate with their own partners on the planning, implementation, communication and evaluation of programmes, and on reporting their results.</p>');
        });
    </script>
</body>
</html>












