            <nav class="navbar navbar-default main-menu-admin" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="CIAT Plataforma">Home/Inicio</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                  {% if user.username %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Bienvenido <strong>{{ user.username }}</strong><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/">Ver mi perfil</a></li>
                          <li><a href="/">Salir</a></li>

                        </ul>
                    </li>


                  {% else %}
                  <li><a href="/">Entrar</a></li>

                  {% endif %}

                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
