{% extends "herramientaDesicion/baseherramienta.html" %}

{%block extra_js%}
<link href="/static/monitoreo/css/dataTables.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/monitoreo/js/highcharts.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/exporting.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/dataTables.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-up"></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-down"></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>
<script type="text/javascript" language="javascript" class="init">

        $(document).ready(function() {
            $('#example').dataTable( {
                "language": {
                    "search": "Buscar:"
                },
                "paging":   false,
                "ordering": false,
                "info":     false
            } );
        } );

    </script>

<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Factores socioeconómicos'
            },
            subtitle: {
                text: 'Factores Limitantes la Producción de Cacao'
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in tabla_factor_socioeconomico.items %}
                {
                    name: '{{key}}',
                    data: [{{value}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y;
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });

var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container1',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Factores limitantes biofísicos'
            },
            subtitle: {
                text: 'Factores Limitantes la Producción de Cacao'
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteos'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for k,v in tabla_factor_biofisico.items %}
                {
                    name: '{{k}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y;
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
</script>


{%endblock%}

{% block contenido %}
<div class="row no-gutter"><!-- row -->

    <div id="k-sidebar" class="col-lg-12 col-md-12"><!-- sidebar wrapper -->

        <div class="col-consulta col-shaded"><!-- inner custom column -->

            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container "><!-- widget -->

                <h1 class="title-monitoreo">Consulta</h1>
                <div class="slide-indicadores">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                {% include "herramientaDesicion/filtro-monitoreo.html" %}
                                <li><a href="">Familia >> Subindicador Área y factores limitantes la producción de cacao</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li id="mas" class=" btnindicador">
                                    <a href="">
                                        <span id="estado">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                        </span> Cambiar de Indicador
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div>

                <div class="separador"></div>
                <br>

                <div id="mostrar">
                    {% include "herramientaDesicion/menu.html" %}
                </div>

                <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/1/"></a>{%endif%} </div>

                <div class="table-responsive">
                <div id="modalidad">
                    <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <caption>3.1a Área de cacao</caption>
                        <thead>
                            <tr>
                                <th>Años</th>
                                <th>ÁREA TOTAL DE CACAO</th>
                                <th>ÁREA DE CACAO EN DESARROLLO</th>
                                <th>ÁREA DE CACAO EN PRODUCCIÓN</th>
                                <th>PRODUCCIÓN TOTAL DE CACAO EN QQ BABA</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for k,v in tabla_areas.items%}
                                <tr>
                                    <td>{{k}}</td>
                                    <td>{{v.0|default:'0'}}</td>
                                    <td>{{v.1|default:'0'}}</td>
                                    <td>{{v.2|default:'0'}}</td>
                                    <td>{{v.3|default:'0'}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                <br><br>
                <div class="contenedor">
                        <div class="grafico-title"></div>
                        <div id="container"></div>
                </div>
                <br><br>
                <div class="contenedor">
                        <div class="grafico-title"></div>
                        <div id="container1"></div>
                </div>

                </li>


            </ul><!-- widgets end -->

        </div><!-- inner custom column end -->

    </div><!-- sidebar wrapper end -->
</div><!-- sidebar row -->


{% endblock %}

