{% extends "herramientaDesicion/baseherramienta.html" %}

{%block extra_js%}
<link href="/static/monitoreo/css/dataTables.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/monitoreo/js/highcharts.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/exporting.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/dataTables.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-up"></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-down"></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>
<script type="text/javascript" language="javascript" class="init">

        $(document).ready(function() {
            $('#example').dataTable( {
                "language": {
                    "search": "Buscar:"
                },
                "paging":   false,
                "ordering": false,
                "info":     false
            } );
        } );

    </script>
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Nivel de educación de dueño de la finca'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in grafo_educacion.items %}
                {
                    name: '{{key}}',
                    data: [{{value}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y;
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });

var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container1',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Miembros que Alcanzaron la Primaria (primaria completa + secundaria incompleta + bachiller + universitario)'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in grafo %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
</script>

{%endblock%}

{% block contenido %}
<div class="row no-gutter"><!-- row -->

    <div id="k-sidebar" class="col-lg-12 col-md-12"><!-- sidebar wrapper -->

        <div class="col-consulta col-shaded"><!-- inner custom column -->

            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container "><!-- widget -->

                <h1 class="title-monitoreo">Consulta</h1>
                <div class="slide-indicadores">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                {% include "herramientaDesicion/filtro-monitoreo.html" %}
                                <li><a href="">Familia >> Subindicador Composición</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li id="mas" class=" btnindicador">
                                    <a href="">
                                        <span id="estado">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                        </span> Cambiar de Indicador
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div>

                {% include "herramientaDesicion/nav_familia.html" %}

                <div class="separador"></div>
                <br>

                <div id="mostrar">
                    {% include "herramientaDesicion/menu.html" %}
                </div>

                <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/1/"></a>{%endif%} </div>

                <div class="table-responsive">
                <div id="modalidad">
                    <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <caption>Número de personas que depende de la finca (Familia)</caption>
                        <thead>
                            <tr>
                                <th>Número de adultos varones</th>
                                <th>Número de adultas mujeres</th>
                                <th>Número de Jóvenes varones (11-16 años)</th>
                                <th>Número de Jóvenes mujeres (11-16 años)</th>
                                <th>Número de niños (1-10 años)</th>
                                <th>Número de niñas (1-10 años)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{conteo_adultos_varones}}</td>
                                <td>{{conteo_adultos_mujeres}}</td>
                                <td>{{conteo_varones_jovenes}}</td>
                                <td>{{conteo_mujeres_jovenes}}</td>
                                <td>{{conteo_ninos}}</td>
                                <td>{{conteo_ninas}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <br><br>
                <div class="table-responsive">
                <div id="modalidad1">
                    <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <caption>Relación finca-vivienda (relacionado al dueño(s) de la finca)</caption>
                        <thead>
                            <tr>
                                <th>Viven en la finca</th>
                                <th>Viven en pueblo cerca de finca</th>
                                <th>Vive en ciudad lejos de la finca</th>
                                <th>Pasa tiempo en la finca y tiempo en casa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{conteo_viven_finca}}</td>
                                <td>{{conteo_viven_pueblo}}</td>
                                <td>{{conteo_viven_ciudad}}</td>
                                <td>{{conteo_viven_finca_casa}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <br><br>
                 <div class="table-responsive">
                <div id="modalidad1">
                    <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <caption>Número de trabajadores que laboran en la finca</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Mujeres</th>
                                <th>Hombres</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Permanentes</td>
                                <td>{{conteo_permanentes_mujeres}}</td>
                                <td>{{conteo_permanentes_hombre}}</td>
                            </tr>
                            <tr>
                                <td>Temporales</td>
                                <td>{{conteo_temporal_mujeres}}</td>
                                <td>{{conteo_temporal_hombre}}</td>
                            </tr>
                            <tr>
                                <td>Técnicos</td>
                                <td>{{conteo_tecnicos_mujeres}}</td>
                                <td>{{conteo_tecnicos_hombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <br><br>
                <div class="contenedor">
                        <div class="grafico-title"></div>
                        <div id="container"></div>
                </div>

                </li>


            </ul><!-- widgets end -->

        </div><!-- inner custom column end -->

    </div><!-- sidebar wrapper end -->
</div><!-- sidebar row -->


{% endblock %}

