{% extends "herramientaDesicion/baseherramienta.html" %}

{%block extra_js%}
<link href="/static/monitoreo/css/dataTables.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/monitoreo/js/highcharts.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/exporting.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/dataTables.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-up"></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-down"></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>
<script type="text/javascript" language="javascript" class="init">

        $(document).ready(function() {
            $('#example').dataTable( {
                "language": {
                    "search": "Buscar:"
                },
                "paging":   false,
                "ordering": false,
                "info":     false
            } );
        } );

    </script>
{%endblock%}

{% block contenido %}
<div class="row no-gutter"><!-- row -->

    <div id="k-sidebar" class="col-lg-12 col-md-12"><!-- sidebar wrapper -->

        <div class="col-consulta col-shaded"><!-- inner custom column -->

            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container "><!-- widget -->

                <h1 class="title-monitoreo">Consulta</h1>
                <div class="slide-indicadores">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                {% include "herramientaDesicion/filtro-monitoreo.html" %}
                                <li><a href="">Familia >> Subindicador Detalles</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li id="mas" class=" btnindicador">
                                    <a href="">
                                        <span id="estado">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                        </span> Cambiar de Indicador
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div>
                {% include "herramientaDesicion/nav_detalle.html" %}
                <div class="separador"></div>
                <br>

                <div id="mostrar">
                    {% include "herramientaDesicion/menu.html" %}
                </div>

                <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/1/"></a>{%endif%} </div>

                <div class="table-responsive">
                <div id="modalidad">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 graficos">
                    <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <caption>Detalles de algunos plantíos de cacao (en base de visita de campo)</caption>
                        <thead>
                            <tr>
                                <th>Nombre de plantío</th>
                                <th>Area en MZ</th>
                                <th>Tipo de plantas</th>
                                <th>Edad en años</th>
                                <th>Variedades Predominante</th>
                                <th>Producción en qq baba de último año</th>
                                <th>Nivel de Monilia año pasado basado en % mazorcas afectadas</th>
                                <th>Tipo de Sombra</th>
                                <th>Nivel de sombra %</th>
                                <th>Tipo de fertilización</th>
                                <th>Tipo de fungicidas</th>

                            </tr>
                        </thead>
                        <tbody>
                            {%for v in tabla_detalles%}
                            <tr>
                                <td>{{v.0}}</td>
                                <td>{{v.1}}</td>
                                <td>{{v.2}}</td>
                                <td>{{v.3}}</td>
                                <td>{{v.4}}</td>
                                <td>{{v.5}}</td>
                                <td>{{v.6}}</td>
                                <td>{{v.7}}</td>
                                <td>{{v.8}}</td>
                                <td>{{v.9}}</td>
                                <td>{{v.10}}</td>

                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>

                </li>


            </ul><!-- widgets end -->

        </div><!-- inner custom column end -->

    </div><!-- sidebar wrapper end -->
</div><!-- sidebar row -->


{% endblock %}

