{% extends "herramientaDesicion/baseherramienta.html" %}

{% block extra_js %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/monitoreo/js/markerclusterer.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/infobox.js"></script>
<script type="text/javascript">
    var map;
    var markers = [];
    $(document).ready(function () {
        var infowindow = new google.maps.InfoWindow();
        var myLatlng = new google.maps.LatLng(13,-85);
        var myOptions = {
            zoom: 7,
            mapTypeControl: true,
            scaleControl: false,
            scrollwheel: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var image = new google.maps.MarkerImage('/static/general/img/chinches/6.png',
        new google.maps.Size(32, 32),
        new google.maps.Point(0,0),
        new google.maps.Point(0, 32));
            $.getJSON("{% url 'obtener-lista-mapa-cacao' %}", function(data){
                $.each(data, function(i, elemento){
                    var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: elemento.nombre,
                        icon: image,
                        item: '',
                        id: elemento.id
                    });
                    markers.push(marker);
                });
                var markerCluster = new MarkerClusterer(map, markers);
            });

    });

</script>

{% endblock %}
{% block contenido %}

<style>
    .mapa{
    float: left;
    width: 508px;
    }
    .mapa #map_canvas {
        height: 500px;
        width: 700px;
        margin: 0 auto;
    }
    #map_canvas img,.google-maps img{max-width:none;}
</style>

<div class="row no-gutter"><!-- row -->

                <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
                    <h1 class="title-median">
                        Herramienta sobre desición del cacao
                    </h1>
                    <div class="col-padded"><!-- inner custom column -->

                        <div class="row gutter"><!-- row -->

                            <div class="col-lg-12 col-md-12">

                             <div class="mapa">
                                <div id="map_canvas"></div>
                            </div>

                            </div>

                        </div><!-- row end -->

                    </div><!-- inner custom column end -->

                </div><!-- doc body wrapper end -->

                <div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->

                    <div class="col-padded col-shaded"><!-- inner custom column -->

                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                            <li class="widget-container widget_nav_menu"><!-- widget -->

                                <h1 class="title-widget">Actualmente</h1>


                                    <div class="monitoreo-data clearfix">
                                        <figure class="data_img">
                                            <img src="/static/monitoreo/img/family.png" class=""/>
                                        </figure>
                                        <div class="data_text">

                                            <h1 class="title-median">
                                                <span class="cant">{{familias}} </span>
                                                Familias
                                            </h1>
                                        </div>
                                    </div>

                                    <div class="monitoreo-data clearfix">
                                        <figure class="data_img">
                                            <img src="/static/monitoreo/img/org.png" class=""/>
                                        </figure>
                                        <div class="data_text">

                                            <h1 class="title-median">
                                                <span class="cant">{{organizacion}}</span>
                                                Organizaciones
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="monitoreo-data clearfix">
                                        <figure class="data_img">
                                            <img src="/static/monitoreo/img/Female.png" class=""/>
                                        </figure>
                                        <div class="data_text">

                                            <h1 class="title-median">
                                                <span class="cant">{{mujeres}}</span>
                                                Mujeres
                                            </h1>
                                        </div>

                                    </div>
                                    <div class="monitoreo-data clearfix">
                                        <figure class="data_img">
                                            <img src="/static/monitoreo/img/Male.png" class=""/>
                                        </figure>
                                        <div class="data_text">

                                            <h1 class="title-median">
                                                <span class="cant">{{hombres}}</span>
                                                Hombres
                                            </h1>
                                        </div>

                                    </div>
                                    <br>
                                    <a class="btn btn-success center-block" href="{% url 'index_consulta' %}">Explorar los datos ahora</a>

                            </li>


                        </ul><!-- widgets end -->

                    </div><!-- inner custom column end -->

                </div><!-- sidebar wrapper end -->

            </div><!-- row end Corta hasta aca-->

<div class="acerca example5">
    <div class="cuerpo">
    </div>
</div>
{% endblock contenido %}

