<div class="botonera">
<div class="indicadores">
<div class="title-monitoreo text-left" >Seleccione el Indicador</div>
    <hr>
        <a id="ancla" href="/herramienta/organizacion/" class="btn btn-success">Familias</a>
        <a href="/herramienta/tierra/" class="btn btn-success">Tierra</a>
        <a href="/herramienta/areas/"class="btn btn-success">Area y Factores</a>
        <a href="/herramienta/produccion/"class="btn btn-success">Producción y manejo</a>
        <a href="/herramienta/manejo_poda/"class="btn btn-success">Manejo de cacaotales</a>
        <a href="/herramienta/agroecologicas/"class="btn btn-success">Opcion agroecológicas</a>
        <a href="/herramienta/cosecha/"class="btn btn-success">Cosecha</a>
        <a href="/herramienta/comercializacion/" class="btn btn-success">La comercialización</a>
        <a href="/herramienta/credito/" class="btn btn-success">Crédito</a>
        <a href="/herramienta/mitigacion/" class="btn btn-success">Mitigación de los riesgos</a>
        <a href="/herramienta/tecnicas/" class="btn btn-success">Capacitaciones</a>
        <a href="/herramienta/detalles_conteo_parcela/" class="btn btn-success">Detalles plantios de cacao</a>
</div>
</div>
