<div class="menu-subindicador">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/herramienta/detalles_conteo_parcela/" class="educacion">Conteo Parcelas</a></li>
                <li><a href="/herramienta/detalles_area_parcela/" class="salud">Area de parcelas</a></li>
                <li><a href="/herramienta/detalles_area_cacao/" class="salud">Area de cacao</a></li>
                <li><a href="/herramienta/detalles_produccion_cacao/" class="salud">Produccion cacao</a></li>
                <li><a href="/herramienta/detalles_edad_cacao/" class="salud">Edad plantas</a></li>
                <li><a href="/herramienta/detalles_variedad_cacao/" class="salud">Variedad</a></li>
                <li><a href="/herramienta/detalles_dispercion_cacao/" class="salud">Dispersion</a></li>
                {% if  request.user.is_authenticated%}
                     <li><a href="/herramienta/detalles_tabla/" class="salud">Tabla</a></li>
                {% endif %}

            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

</div>
