<div class="menu-subindicador">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/herramienta/manejo_poda/" class="educacion">Poda</a></li>
                <li><a href="/herramienta/manejo_sombra/" class="salud">Sombra</a></li>
                <li><a href="/herramienta/manejo_maleza/"class="luz">Malezas</a></li>
                <li><a href="/herramienta/manejo_fertilidad/"class="agua">Fertilidad</a></li>
                <li><a href="/herramienta/manejo_hongos/"class="agua">Manejo Hongos</a></li>
                <li><a href="/herramienta/manejo_insectos/"class="agua">Manejo Insectos</a></li>
                <li><a href="/herramienta/manejo_nematodos/"class="agua">Manejo Nematodos</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

</div>
