<div class="menu-subindicador">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/herramienta/organizacion/" class="educacion">Organización</a></li>
                <li><a href="/herramienta/composicion/" class="salud">Composición familiar</a></li>
                <li><a href="/herramienta/servicios/"class="luz">Servicios básicos</a></li>
                <li><a href="/herramienta/tenencia/"class="agua">Tenencia de la tierra</a></li>
                <li><a href="/herramienta/seguridad/"class="agua">Seguridad alimentaria</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

</div>
