<div class="menu-subindicador">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/herramienta/produccion/" class="educacion">Producción de vivero y su disponibilidad a los productores</a></li>
                <li><a href="/herramienta/manejo/" class="salud">Manejo de los cacaotales en el último año</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

</div>
