<style media="screen">
a[disabled=disabled] {
  pointer-events: none;
  cursor: default;
  color: #CCC;
  font-weight: bold;
}
</style>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
                <li><a id="ancla" href="/monitoreo/educacion?v={{request.session.crce}}" class="btn btn-success">Familias</a></li>
                <li><a href="/monitoreo/gremial?v={{request.session.crce}}" class="btn btn-success">Organización</a></li>
                <li><a href="/monitoreo/fincas?v={{request.session.crce}}" class="btn btn-success">Tierra</a></li>
                <li><a href="/monitoreo/animales?v={{request.session.crce}}"class="btn btn-success">Animales</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
                <li><a href="/monitoreo/cultivos?v={{request.session.crce}}"class="btn btn-success">Cultivos</a></li>
                <li><a href="/monitoreo/opcionesmanejo?v={{request.session.crce}}"class="btn btn-success">Opciones de manejo</a></li>
                <li><a href="/monitoreo/usosemilla?v={{request.session.crce}}"class="btn btn-success">Uso de semilla</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
                <li><a href="/monitoreo/suelos?v={{request.session.crce}}"class="btn btn-success">Suelo</a></li>
                <li><a href="/monitoreo/ingresos?v={{request.session.crce}}" class="btn btn-success">Ingresos</a></li>
                <li><a href="/monitoreo/equipos?v={{request.session.crce}}" class="btn btn-success">Bienes</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
                <li><a href="/monitoreo/ahorro_credito?v={{request.session.crce}}" class="btn btn-success">Ahorro y crédito</a></li>
                <li><a href="/monitoreo/seguridad?v={{request.session.crce}}" class="btn btn-success">Seguridad alimentaria</a></li>
                <li><a href="/monitoreo/vulnerable?v={{request.session.crce}}" class="btn btn-success">Riesgos</a></li>
        </ul>
    </div>
</div>
